

$bleu1  : #AADBDB;
$bleu2  : #C4D2FC;
$bleu3  : #00338d;
$bleu4  : #0B0036;
$gris1  : #bbb;
$gris2  : #8791a4;
$rose1  : #db4d69;
$marron : #564026;
$blanc	: white;
$blanc2 : #f6f3ed;

@font-face {
    font-family: 'misoregular';
    src: url('../fonts/miso-webfont.woff2') format('woff2'),
         url('../fonts/miso-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.carreBleu {
	height: 115px;
	width : 25%;
	position: absolute;
	background-color: $bleu3;
	z-index: 0;

}
.container-fluid	 {
	padding-right: 0px!important;
	padding-left: 0px!important;
	}
.container {

	width: 1000px!important;
			.row {
					margin: 0px;
					padding: 0px;

				}

		section {
		padding: 0px;
			padding-top: 40px;

			.intro {
				font-family: 'montserratregular';
				color: $marron;
				font-size: 1.5em;
				line-height: 2em;
				width: 80%;
				float: left;
				margin-bottom: 40px;


			}
	}



	h1 {
		font-family: 'misoregular';
		color: $bleu3;
		font-size: 3em;
	}
}



.contenu {

	
	margin : auto;

	header {


		height: 120px;
		width: 100%;
	  	background-color: $bleu3;
		border-bottom : 5px solid $gris1;
		z-index: 100;
		display: block;
			.logo {
				float: left;
				//padding: 15px;
    			padding: 14px 0px 15px 35px;
    			

			}

			.navbar-header {
			    float: none;
			}

			.navbar-right {
			    float: right !important;
			    margin-right: 0px;
			}

			nav ul{
				font-family: 'misoregular';
				color: $bleu3;
				margin-top: 40px;
				background-color: $blanc;
					
					.menu {
						

						&:nth-child(1) {
						    border-bottom : 5px solid $gris1;
						}
						&:nth-child(2) {
						    border-bottom : 5px solid $bleu1;
						}
						&:nth-child(3) {
						    border-bottom : 5px solid $rose1;
						}


						width: 181px;

						a{
							font-size: 18pt;
							letter-spacing: -1px;
							text-transform: uppercase;
							text-align: center;
							width: 100%;
						}

						.dropdown-menu {
							background-color: $blanc2;
							width: 280px;
							font-family: 'montserratregular';
							padding: 15px;

							
								a{
								color: $marron;
								text-transform: initial;
								font-weight: normal;
								text-align: left;
								border-bottom: 1px solid $blanc;
								//width: 90%;
	
								font-size: 20px;
								
								margin-top: 4px;
								margin-bottom: 0px;
								margin-left: 0px;
								margin-right: auto;
								cursor: default;
									&:hover {
										//font-weight: 100;
										color : $rose1;
										border-bottom: 5px solid $rose1;

									}
									&:last-child {
										//	border-bottom: none;

									}
								}


						}	
						.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
						    background-color: $blanc2;
						    border-color: $blanc2;
						}


					}
					
			}

	}

}	


.header {
	

	height: 120px;
	width: 100%;
  	display: inline-block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007c92+0,aadbdb+100 */
	background: #007c92; /* Old browsers */
	background: -moz-linear-gradient(180deg, $bleu1 0%, $bleu2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(180deg, $bleu1 0%, $bleu2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg, $bleu1 0%, $bleu2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c92', endColorstr='#aadbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border-bottom : 5px solid $gris1;

	z-index: -1;

}
section {

		.axes{
	
				background-color: $bleu1;
				height:650px;
				display: flex;
  				flex-wrap: nowrap;
  				text-shadow: 1px 1px 1px rgba(106, 106, 106, 1.0);

					.axe {

						width: 33.3333%;
						height: 650px;
						float: left;
						color: $blanc;
						text-align: center;
						display: block;
						cursor: pointer;

								div img {
									height: 460px;
									width: 100%;
									overflow: hidden;
								}

	
					}

					h2 {

							font-family: 'misoregular';
							text-transform: uppercase;
							font-weight: bold;

							}
					h3 {

							font-family: 'misoregular';
							text-transform: uppercase;
							font-weight: bold;

							}

					p {
							font-family: 'montserratregular';
							font-size: 1.2em;
							margin-top: 0px;
					}	


					.logement{
					    border-top : 5px solid $rose1;
					    background-color: $rose1;


								h2 {
								   	font-size: 5em;
								    margin-bottom: 0px;
								    margin-top: 30px;

								    }

						    	p {	
						    		font-size: 1.2em;
						    		margin-top: 0px;

						    	}	
					    
						}
					.education {
							border-top : 5px solid $gris2;
							background-color: $gris2;


								h2 {

								   	font-size: 3.8em;
								    margin-bottom: -5px;
								    margin-top: 5px;
								   

								    }

								h3 {

								   	font-size: 4.8em;
								   	margin-top: -17px;

								    }
								    
						    	p {
						    		font-size: 1.2em;
						    		padding-bottom: 15px;
								    margin-top: -15px;
								    width: 80%;
								    margin-left: auto;
								    margin-right: auto;
								    line-height: 1.2em;
						    		
						    	}	
					    


						}
					.sante {
							border-top : 5px solid $bleu2;
							background-color: $bleu2;


								h2 {

								   	font-size: 3.7em;
								    margin-bottom: 0px;

								    }
								h3 {

								   	font-size: 5em;
								    margin-bottom: 0px;
								    margin-top: -17px;

								    }
								    
						    	p {
						    		font-size: 1.2em;
						    		margin-top: -5px;
						    		padding-bottom: 15px;
						    	}	
					    
							}

		}






}
section.citation {

			background-color: $blanc2;
			width: 100%;
  				
	  					.citation_image{
	  					display: block;
	  					background-image: url("../img/femme.png" );
	  					background-repeat: no-repeat;
	  					width: 100%;
	  					height: 490px;
	  					
		  				}
		  				.citation_texte{
		  						font-family: 'misoregular';
		  						color: $bleu3;
		  						font-size: 3.8em;
		  						letter-spacing: -0.05em;
		  						position:absolute;
								margin-top: -400px;
								margin-left: 430px;
								//right: 0px;
								line-height: 44px;

		  				}
		  				.auteur {
		  					font-family: montserratregular;
		  					color: $marron;
		  					font-size: 1.5em;
		  					margin-left: 445px;
							margin-top: -50px;;
							letter-spacing: -0.05em;

		  				}
  				
			
				
		}


section.slider_projets {
				background-color: $blanc2;

			}



footer {
	height: 435px;
	width: 100%;
  	display: inline-block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007c92+0,aadbdb+100 */
	background: #007c92; /* Old browsers */
	background: -moz-linear-gradient(180deg, $gris2 0%, $bleu2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(180deg, $gris2 0%, $bleu2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg, $gris2 0%, $bleu2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c92', endColorstr='#aadbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	





}