

$bleu1  : #AADBDB;
$bleu2  : #C4D2FC;
$bleu3  : #00338d;
$bleu4  : #0B0036;
$gris1  : #bbb;
$gris2  : #8791a4;
$rose1  : #db4d69;
$marron : #564026;
$blanc	: white;


@font-face {
    font-family: 'misoregular';
    src: url('../fonts/miso-webfont.woff2') format('woff2'),
         url('../fonts/miso-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'montserratsemibold';
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


.container {

	width: 1000px!important;
	margin: 0px;
	padding: 0px;


	section {
		padding: 0px;

			.intro {
				font-family: 'montserratregular';
				color: $marron;
				font-size: 1.5em;
				line-height: 2em;
				width: 80%;
				float: left;

			}
	}



	h1 {
		font-family: 'misoregular';
		color: $bleu3;
		font-size: 3em;
	}
}



.contenu {

	.row{
	margin: 0px;
}
	
	margin : auto;

	header {
		

		height: 120px;
		width: 100%;
	  	background-color: $bleu3;
		border-bottom : 5px solid $gris1;

			.logo {
				float: left;
				//padding: 15px;
    			padding: 14px 0px 15px 35px;

			}

			.navbar-header {
			    float: none;
			}

			.navbar-right {
			    float: right !important;
			    margin-right: 0px;
			}

			nav ul{
				font-family: 'misoregular';
				color: $bleu3;
				margin-top: 40px;
				background-color: $blanc;
					
					.menu {
						

						&:nth-child(1) {
						    border-bottom : 5px solid $gris1;
						}
						&:nth-child(2) {
						    border-bottom : 5px solid $bleu1;
						}
						&:nth-child(3) {
						    border-bottom : 5px solid $rose1;
						}


						width: 181px;

							a{
							font-size: 18pt;
							letter-spacing: -1px;
							text-transform: uppercase;
							text-align: center;
							width: 100%;
					}



					}
					
			}

	}

}	


.header {
	

	height: 120px;
	width: 100%;
  	display: inline-block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007c92+0,aadbdb+100 */
	background: #007c92; /* Old browsers */
	background: -moz-linear-gradient(180deg, $bleu1 0%, $bleu2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(180deg, $bleu1 0%, $bleu2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(180deg, $bleu1 0%, $bleu2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007c92', endColorstr='#aadbdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border-bottom : 5px solid $gris1;

}
section {

		.axes{
	
				background-color: $bleu1;
				height:633px;

		}

		.citation {

			background-color: #f6f3ed;
			height: 490px;
		}




}
