#log {
  #TechEd {
    .header {
      background-color: #db4d69;
    }
    h1 {
      font-size: 5.2em;
    }
  .icon-home-outline {
      font-size: 106px;
  }
  .TechSecond {
    margin-top: 10%;
    padding-top: 3%;
    img {
      margin-top: -325px;
    }
    p{
      font-size: 1.2em;
    }
  }

}
#TechThird {
  .TechThird {
    background-color: #db4d69;
  }
  .col-sm-1 {
    margin-top: 1%;
    margin-bottom: 1%
  }
  .icon-home-outline {
    padding-top: 10%;
  }
}
#TechForth {
  .col-sm-5 {
    width: 50%;
  }
  .image {
    border-left: 6px solid #db4d69;
    background-image:url("../img/logement.png");
  }
  p{
    font-size: 1.2em;
  }
}

































}
