.projet {
	
	.bleufonce {
		background-color: #00338d;
		color: white;	

			p{
				font-size: 20px;
			}


		}



	

			h1 {
		    color: #00338d;
		    font-size: 5em;

			}

			

	

			.icon-monitor {
		      font-size: 106px;    
		      color: #00338d;
		       margin-top: 10px;
		       margin-bottom: 10px;
		       margin-right: -10px;
		       display: block;

		      
			}

			.vignette img {
		      	width: 150px;
		      	height: 150px;
		    }          



}