#sante {
  #TechEd {
    .header {
      background-color: #AADBDB;
    }
    h1 {
      font-size: 5.2em;
      width: 100%;
    }
  .icon-home-outline {
      font-size: 106px;
  }
  .TechFirst{
    margin-top: 5%;
    h2 {
      margin-bottom: 10%;
    }
  }
  .TechSecond {
    padding-top: 7.5%;
    height: 400px;
    color: #00338d;
    margin: 0 0;
    p {
      font-size: 1.8em;
      line-height: 1.5em;
    }
    p::before {
      content: "<<";
      font-size: 4em;

    }
    p::after {
      content: ">>";
      font-size: 2em;
    }

    h5{
      text-align: right;
      margin-right: 215px;
      padding-top: 15%
   }

    img {
      float: right;
    }

  }
  .TechSecondRight {
    min-height: 791px;
  }

}
#TechThird {
  .TechThird {
    background-color: #AADBDB;
  }
  .icon-home-outline {
    padding-top: 10%;
  }
}
#TechForth {
  .col-sm-5 {
    width: 46%;
    margin-bottom: 5%;
    margin-right: 4%;
  }
  .image {
    border-left: 6px solid #AADBDB;
    background-image:url("../img/sante.png");
  }
  .TechForth {
    p{
    font-size: 1.2em;
    }
  }
}
}
