#sante {
  #TechEd {
    .header {
      background-color: #AADBDB;
    }
    h1 {
      font-size: 5.2em;
    }
  .icon-home-outline {
      font-size: 106px;
  }
  .TechSecond {
    margin-top: 10%;
    padding-top: 3%;
    img {
      margin-top: -325px;
    }
  }

}
#TechThird {
  .TechThird {
    background-color: #AADBDB;
  }
  .icon-home-outline {
    padding-top: 10%;
  }
}
#TechForth {
  img {
    border-left: 6px solid #AADBDB;
    background-image:url("logement.png");
  }
}
}
