/* line 15, ../sass/nav.scss */
.navbar-header {
  float: none;
}

/* line 19, ../sass/nav.scss */
.navbar-right {
  float: right !important;
  margin-top: -28px;
  margin-right: 17px;
}

/* line 25, ../sass/nav.scss */
nav ul {
  font-family: 'misoregular';
  color: #00338d;
  margin-top: 40px;
  background-color: white;
}
/* line 31, ../sass/nav.scss */
nav ul .menu {
  width: 180px;
}
/* line 34, ../sass/nav.scss */
nav ul .menu:nth-child(1) {
  border-bottom: 5px solid #8791a4;
}
/* line 37, ../sass/nav.scss */
nav ul .menu:nth-child(2) {
  border-bottom: 5px solid #AADBDB;
}
/* line 40, ../sass/nav.scss */
nav ul .menu:nth-child(3) {
  border-bottom: 5px solid #db4d69;
}
/* line 47, ../sass/nav.scss */
nav ul .menu a {
  font-size: 18pt;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #00338d;
}
/* line 56, ../sass/nav.scss */
nav ul .menu .dropdown-menu {
  background-color: #f6f3ed;
  width: 280px;
  font-family: 'montserratregular';
  padding: 15px;
}
/* line 63, ../sass/nav.scss */
nav ul .menu .dropdown-menu a {
  color: #564026;
  text-transform: initial;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid white;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: auto;
}
/* line 76, ../sass/nav.scss */
nav ul .menu .dropdown-menu a:hover {
  color: #db4d69;
  border-bottom: 5px solid #db4d69;
}
/* line 90, ../sass/nav.scss */
nav ul .menu .nav .open > a, nav ul .menu .nav .open > a:focus, nav ul .menu .nav .open > a:hover {
  background-color: #f6f3ed;
  border-color: #f6f3ed;
}
