<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>4wings Missions</title>
</head>
<body>
    <div class="mission">
      <h1>Lutter contre la precarite belge</h1>
      <p>
        <cite> “Nous avons décidé d’agir ensemble, en famille, et de soutenir les efforts des entrepreneurs sociaux pour amplifier leur impact dans la lutte contre la précarité en Belgique”
        </cite>
      </p>
      <h2>Martine Lhoist</h2>
      <h3>Présidente du Conseil de Famille</h3>
    </div>
    <div class="innovation">
    <h2>Encourager l'innovation sociale</h2>
    <p>C'est:
    <ul>
      <li>Soutenir l’esprit d’entreprenariat social</li>
      <li>Favoriser l’émergence de solutions</li>
    </ul>
    </p>
    <p>
      Pour:
      <ul>
        <li>Combattre durablement la précarité en Belgique</li>
        <li>Renforcer les liens sociaux et le retour à l’équilibre</li>
      </ul>
    </p>



    </div>


</body>
</html>
