<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css" type="text/css">
  <title>4 wings Sélection-Projets</title>
</head>
<body>
  <article class="selection">
    <h1>Sélection des projets</h1>
    <div class="paragraphe">
      <p>La fondation sélectionne les projets sur base d'un processus formel claire et transparent et cherche à créer des synergies entre les projets soutenus.
      </p>
      <p>Les projets sélectionnés bénéficient d'un accompagnement professionnel de l'équipe de 4WINGS et d'un parrain ou une marraine sélectionné parmi les membres. Les critères de sélection sont:
      </p>
      <ul>
        <li>
          la finalité du projet et sa cohérence avec la mission de la fondation.
        </li>
        <li>
          la capacité de la fondation à avoir un impact multiplicateur fort pour la réussite du projet.
        </li>
        <li>
          la volonté partagée d'avoir un partenariat actif et engagé.
        </li>
    </ul>
      <p>Pour sélectionner les projets, 4WINGS collabore avc les "nominateurs" experts, expérimentés et engagés. Leur connaissances approondie des réseaux d'acteurs du secteur de la précarité et de l'entreprenariat social en Belgique permet à la ondaction de focaliser son action pour plus d'impact.</p>
      <h4>Candidatures Spontanées:</h4>
      <p>Si votre projet répond aux critères ci-dessus, envoyez-nous une description succincte en utilisant ce formulaire.</p>
      </div>
    </article>

</body>
</html>
