*{
  margin: 0 auto;
  padding: 0 auto;
}

/*header test*/
header {
  background-color: #00338d;
  color: white;
}



/*Mission*/

.mission {
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;

}
.mission h1 {
  text-transform: uppercase;
  font-family: 'misoregular', sans-serif;
  color: #00338d;
  font-size: 3em;
}
.mission p {
  margin-top: 4%;
  margin-bottom: 4%;
  font-family: 'montserratregular', sans-serif;
  color: #564026;
  font-size: 1.5em;
}

.mission h2 {
  padding-right: 10%;

}

.mission h3 {
  padding-right: 1%;
}
.mission h2, .mission h3 {
  text-align: right;
  font-family: 'montserratregular', sans-serif;
  color: #564026;
  font-size: 1.5em;

}

.innovation {
  background-color: #AADBDB;
  margin-left: 20%;
  margin-right: 20%;
}

.innovation h2 {
  font-family: 'misoregular', sans-serif;
  color: #00338d;
}
.innovation p {
  font-family: 'montserratregular', sans-serif;
  color: white;
  font-weight: ;
}





/*selection projet*/


article .selection {
  background-color: #AADBDB;


}

article h1 {
  font-size: 3em;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: 'misoregular', serif;
  color: #00338d;
  padding-left: 9%;
  padding-right: 4%;
}

.paragraphe {
  text-align: left;
  margin-top: 4%;
  font-family: 'misoregular', serif;
  line-height: 1.5em;

}
.paragraphe p{
  font-size: 1.5em;
  color: #564026;
  line-height: 1.5em;
  margin-left: 8%;
  margin-right: 8%;


}

.paragraphe ul {
  color: #564026;
  font-size: 1.5em;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 8%;
  margin-right: 8%;


}
.paragraphe h4 {
  font-size: 1.8em;
  line-height: 1.5em;
  font-family: 'misoregular', serif;
  color: #564026;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #db4d69;
  color: white;
  padding-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;

}

footer {
  background: linear-gradient(180deg, #8791a4 0%, #C4D2FC 100%);

}
footer .IconPieds {
  color: ;

}
footer .pieds {
  height: 200px;
}


/*TechEducation*/


#TechEd {
  background-color: #00338d;
  color: white;
  font-family: 'Roboto Condensed';
  font-style: 3em;
}
.TechFirstPartie {

}

.TechEducation {
  margin-left: 20%;
  height: 115px;
  padding-top: 2%;
}


.TechEducation h1 {
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 300;
}

.TechFirst {
  margin-top: 2%;
  margin-left: 10%;
  width: 50%;
  font-family: 'Open Sans';
  float: left;
}

.TechFirst h2 {
  margin-left: 15%;
  margin-bottom: 3%;
  margin-top: 3%;
}
.TechFirst p {
  line-height: 2em;
}

.TechSecond {
  background: linear-gradient(to right, #f6f3ed, white);
  width: 50%;
  font-family: 'Roboto Condensed';
  color: #00338d;
  margin-left: 0%;
  text-align: left;
  float: left;
  margin-top: 5%;
}
.TechSecond p {
  padding-left: 30%;
  line-height: 1.5em;
  margin-top: 5%;
}
.TechSecond p::before {
  content: "<";
  color: #00338d;
  font-size: 3em;
  font-weight: bold;
  margin-left: -4%;
}
.TechSecond p::after {
  content:">";
  color: #00338d;
  font-size: 1.5em;
  font-weight: 200;

}
.TechSecond h5 {
  text-align: right;
  margin-top: 5%;

}


.TechRight {
  background-color: #AADBDB;
  width: 20%;
  float: right;
  margin-right: 15%;
  height: 350px;
  display: block;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.TechRight h5 {
  color: white;
  font-size: 1.5em;
  font-family: 'Open Sans';
}

.TechRight button {
  width: 65%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: #AADBDB;
  font-family: 'Open Sans';
  font-size: 1.3em;
  text-transform: uppercase;
  border-radius: 5%;
  margin-top: 10%;
}

.TechThird {
  background-color:  #00338d;
  color: white;
  font-family: 'Roboto Condensed';
  border: 2px solid black;
}
