/* line 1, ../sass/logement.scss */
* {
  margin: 0 auto;
  padding: 0 auto;
}


/*header test*/
.header_rose {
  background-color: #db4d69 ;
  color: white;
  padding: 5px;
  display: block;
  height: 127px;
}

/* line 6, ../sass/logement.scss */
#logement {
  font-family: 'montserratregular', sans-serif;
}
/* line 9, ../sass/logement.scss */
#logement h1 {
  text-transform: uppercase;
  font-family: 'misoregular', sans-serif;
  color: white;
  font-size: 4.5em;
  margin-top: 13px;
  margin-bottom: -10px;
}
/* line 15, ../sass/logement.scss */
#logement .icon-home-outline {
  font-size: 30em;
}
/* line 20, ../sass/logement.scss */
#logement .row .logementFirst h1 {
  font-size: 5.2em;
  font-family: 'montserratregular', sans-serif;
}
/* line 25, ../sass/logement.scss */
#logement  span {
  font-family: 'montserratregular', sans-serif;
  font-size: 1.5em;
}
/* line 31, ../sass/logement.scss */
#logement .ImageHeader img {
  margin-left: 22%;
}
/* line 36, ../sass/logement.scss */
#logement {
  font-family: 'montserratregular', sans-serif;
}
/* line 39, ../sass/logement.scss */
#logement .LogementSecond {
  padding-top: 5%;
}
/* line 42, ../sass/logement.scss */
#logement .LogementSecond h2 {
  font-size: 2.5em;
  text-align: center;
  font-family: 'montserratsemibold', sans-serif;
  color: #564026;
}
/* line 48, ../sass/logement.scss */
#logement .LogementSecond p {
  padding-top: 5%;
  line-height: 2em;
  font-size: 1.6em;
  color: #564026;
}
/* line 55, ../sass/logement.scss */
#logement .LogementSecond .LogementThird {
  background: linear-gradient(to left, #f6f3ed, white);
  margin-top: 5%;
  font-family: 'montserratregular', sans-serif;
}
/* line 59, ../sass/logement.scss */
#logement .LogementSecond .LogementThird p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #db4d69;
  width: 85%;
}
/* line 66, ../sass/logement.scss */
#logement .LogementSecond .LogementThird p::before {
  content: "<<";
  font-size: 3em;
  color: #db4d69;
}
/* line 72, ../sass/logement.scss */
#logementThird .logementSecond .LogementThird p::after {
  content: ">>";
  font-size: 2em;
  color: #db4d69;
}
/* line 77, ../sass/logement.scss */
#logementThird  .logementSecond .LogementThird h5 {
  color: #db4d69;
  float: right;
  margin-top: 15%;
  padding-bottom: 5%;
}
/* line 84, ../sass/logement.scss */
#logementThird  .logementSecond .LogementThird img {
  float: right;
  margin-top: -14%;
}
/* line 91, ../sass/logement.scss */
#logementThird  .logementForth {
  background-color: #AADBDB;
  position: absolute;
  right: 0;
  height: 100%;
  font-family: 'montserratregular', sans-serif;
}
/* line 98, ../sass/logement.scss */
#logement .logementForth h5 {
  margin-top: 100px;
  color: white;
  font-size: 2em;
  font-family: 'montserratregular', sans-serif;
  text-align: center;
}
/* line 105, ../sass/logement.scss */
#logement .LogementForth .btn_info {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: #8791a4;
  font-family: 'misoregular', sans-serif;
  text-transform: uppercase;
  border-radius: 5%;
  margin-top: 10%;
  font-size: 17px;
  border-radius: 14px;
  border: 0px;
  margin-left: 17%;
}
/* line 119, ../sass/logement.scss */
#logement .logementForth img {
  margin-top: 50%;
  margin-left: 15%;
}

/* line 126, ../sass/logement.scss */
#LogementB {
  font-family: 'montserratregular', sans-serif;
}
/* line 129, ../sass/logement.scss */
#LogementB .logementFifth {
  background-color: #db4d69;
}
/* line 131, ../sass/logement.scss */
#LogementB .logementFifth h3 {
  color: white;
  font-size: 2.3em;
}
/* line 135, ../sass/logement.scss */
#LogementB .logementFifth .icon-home-outline {
  color: white;
  margin-top: 2%;
}
/* line 139, ../sass/logement.scss */
#LogementB .logementFifth .icone2 {
  margin-top: 10px;
}
