/* line 3, ../sass/logement.scss */
#log #TechEd .header {
  background-color: #db4d69;
}
/* line 6, ../sass/logement.scss */
#log #TechEd h1 {
  font-size: 5.2em;
}
/* line 9, ../sass/logement.scss */
#log #TechEd .icon-home-outline {
  font-size: 106px;
}
/* line 12, ../sass/logement.scss */
#log #TechEd .TechSecond {
  margin-top: 10%;
  padding-top: 3%;
}
/* line 15, ../sass/logement.scss */
#log #TechEd .TechSecond img {
  margin-top: -325px;
}
/* line 18, ../sass/logement.scss */
#log #TechEd .TechSecond p {
  font-size: 1.2em;
}
/* line 25, ../sass/logement.scss */
#log #TechThird .TechThird {
  background-color: #db4d69;
}
/* line 28, ../sass/logement.scss */
#log #TechThird .col-sm-1 {
  margin-top: 1%;
  margin-bottom: 1%;
}
/* line 32, ../sass/logement.scss */
#log #TechThird .icon-home-outline {
  padding-top: 10%;
}
/* line 37, ../sass/logement.scss */
#log #TechForth .col-sm-5 {
  width: 46%;
  margin-right: 4%;
}
/* line 41, ../sass/logement.scss */
#log #TechForth .image {
  border-left: 6px solid #db4d69;
  background-image: url("../img/logement.png");
}
/* line 45, ../sass/logement.scss */
#log #TechForth p {
  font-size: 1.2em;
}
