/* line 1, ../sass/valeurs.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/valeurs.scss */
.container .header {
  color: #00338d;
  width: 100%;
  height: 250px;
}
/* line 11, ../sass/valeurs.scss */
.container .header h1 {
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}
/* line 15, ../sass/valeurs.scss */
.container .header p {
  font-family: 'Montserrat', sans-serif;
  color: #564026;
  font-size: 1.5em;
  line-height: 2.5em;
  float: left;
  margin-bottom: 20px;
}
/* line 24, ../sass/valeurs.scss */
.container .ValeurFirst {
  background-color: #00338d;
  width: 100%;
  height: 125px;
  color: white;
}
/* line 29, ../sass/valeurs.scss */
.container .ValeurFirst h1 {
  text-align: justify;
  padding-top: 1%;
  font-size: 4.5em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5%;
}
/* line 40, ../sass/valeurs.scss */
.container .ValeurSecond {
  display: flex;
  width: 100%;
  height: 100%;
}
/* line 45, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft {
  width: 75%;
  height: 100%;
}
/* line 48, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft h2 {
  color: #564026;
  font-size: 1.8em;
  margin-bottom: 5%;
  text-align: center;
}
/* line 55, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft ul li {
  color: #564026;
  font-size: 1.6em;
  list-style: none;
  text-align: center;
}
/* line 62, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft p {
  font-family: 'Montserrat', sans-serif;
  color: #564026;
  font-size: 1.7em;
  margin-bottom: 5%;
  margin-top: 5%;
}
/* line 69, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft li {
  color: #564026;
  font-size: 1.6em;
  list-style: none;
}
/* line 75, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft .ValeurSecondLeftCitation {
  background: linear-gradient(to left, #f6f3ed, white);
  margin-top: 5%;
  font-family: 'montserratregular', sans-serif;
}
/* line 79, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft .ValeurSecondLeftCitation p {
  font-size: 1.5em;
  line-height: 1.5em;
  color: #00338d;
  width: 85%;
}
/* line 86, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft .ValeurSecondLeftCitation p::before {
  content: "<<";
  font-size: 3em;
  color: #00338d;
}
/* line 92, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft .ValeurSecondLeftCitation p::after {
  content: ">>";
  font-size: 2em;
  color: #00338d;
}
/* line 97, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft .ValeurSecondLeftCitation h5 {
  color: #00338d;
  float: right;
  margin-top: 15%;
  padding-bottom: 5%;
}
/* line 104, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondLeft .ValeurSecondLeftCitation img {
  float: right;
  margin-top: -14%;
}
/* line 111, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondRight {
  width: 25%;
  background-color: #AADBDB;
}
/* line 114, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondRight h5 {
  margin-top: 100px;
  color: white;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
/* line 121, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondRight .btn_info {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: #8791a4;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-radius: 5%;
  margin-top: 10%;
  font-size: 17px;
  border-radius: 14px;
  border: 0px;
  margin-left: 17%;
}
/* line 135, ../sass/valeurs.scss */
.container .ValeurSecond .ValeurSecondRight img {
  margin-top: 25%;
  margin-left: 15%;
}
